# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/.cxx
/android/app/profile
/android/app/release
/android/app/keystore

# iOS
ios/build
ios/Flutter/build
ios/Runner.xcworkspace
ios/Runner.xcodeproj/xcuserdata
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata
ios/.vagrant

# Windows build
windows/build
windows/.vs
windows/CMakeCache.txt
windows/CMakeFiles
Thumbs.db

# Test
test.*
.env
Design